.big-div {
  margin: 15%;
}

.title-signin {
  background-color: #e8e5e5;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.signin-content {
  margin: auto;
  width: 100%;
  border: solid 1px lightgrey;
  float: left;
}

.custom-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.button-link {
  margin-top: 20px;
}

.title {
  margin-top: 20px;
  margin-bottom: 40px;
}
